{{{html}}}
<aside class="content-cta section" data-theme="highlight">
    {{#has visibility='paid'}}
        <h2 class="content-cta__title">{{t 'This content is for paying subscribers only'}}</h2>
    {{/has}}
    {{#has visibility='members'}}
        <h2 class="content-cta__title">{{t 'This content is for subscribers only'}}</h2>
    {{/has}}
    {{#has visibility='tiers'}}
        <h2 class="content-cta__title">{{t 'This content is for subscribers on the {tiers} only' tiers=tiers}}</h2>
    {{/has}}
    {{#if @member}}
        <button class="button content-cta__button" data-portal="account/plans">{{t 'Upgrade your account'}}</button>
    {{else}}
        <button class="button content-cta__button" data-portal="signup">{{t 'Subscribe now'}}</button>
        <div class="content-cta__signin">
            <p>{{t 'Already have an account?'}} <a href="#/portal/signin"><span data-portal="signin">{{t 'Sign in'}}</span></a></p>
        </div>
    {{/if}}
</aside>
