<div class="socials">
        <a href="https://bsky.app/profile/theupfront.media" aria-label="Follow us on BlueSky" target="_blank" rel="noopener noreferrer" class="socials__link" data-social="bluesky"><i class="fa-brands fa-bluesky"></i></a>
    {{#if @custom.instagram_url}}
        <a href="{{@custom.instagram_url}}" aria-label="{{t 'Follow on {social}' social='Instagram'}}" target="_blank" rel="noopener noreferrer" class="socials__link" data-social="instagram">{{> 'icons/socials/instagram'}}</a>
    {{/if}}
    {{#if @custom.tiktok_url}}
        <a href="{{@custom.tiktok_url}}" aria-label="{{t 'Follow on {social}' social='TikTok'}}" target="_blank" rel="noopener noreferrer" class="socials__link" data-social="tiktok">{{> 'icons/socials/tiktok'}}</a>
    {{/if}}
    {{#if @custom.youtube_url}}
        <a href="{{@custom.youtube_url}}" aria-label="{{t 'Follow on {social}' social='YouTube'}}" target="_blank" rel="noopener noreferrer" class="socials__link" data-social="youtube">{{> 'icons/socials/youtube'}}</a>
    {{/if}}
    {{#if @custom.linkedin_url}}
        <a href="{{@custom.linkedin_url}}" aria-label="{{t 'Follow on {social}' social='LinkedIn'}}" target="_blank" rel="noopener noreferrer" class="socials__link" data-social="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    {{/if}}
</div>

