<!doctype html>
<html lang="{{@site.locale}}" class="no-js"{{#match @custom.dark_mode '!=' 'Disabled'}} data-has-dark-mode-support{{/match}}{{#match @custom.dark_mode '=' 'Always On'}} data-prefers-color-scheme="dark"{{/match}}>

<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>document.documentElement.classList.replace('no-js','js');</script>
    <script>
        if (window.localStorage.getItem(`asona-pcs-${window.location.hostname}`) && !document.documentElement.hasAttribute('data-prefers-color-scheme')) {
            document.documentElement.setAttribute('data-prefers-color-scheme', window.localStorage.getItem(`asona-pcs-${window.location.hostname}`));
        }
    </script>

    {{!-- Partial to include local fonts inside head. Allows for easy fonts change. --}}
    {{> 'helpers/fonts'}}

    <link rel="stylesheet" href="{{asset 'dist/style.css'}}">

    {{!-- Add specific things to the head from inside different templates.
    We use it to add <link rel="preload" for first images. See post.hbs and partials/post-card.hbs --}}
    {{{block 'asona_head'}}}

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block 'body_class'}}}">

    <a class="skip-link visually-hidden-focusable" href="#main">{{t 'Skip to content'}}</a>

    <div class="site">

        {{> 'site-header'}}

        <main id="main" class="site-main">
            {{{body}}}
        </main>

        {{> 'site-footer'}}

    </div><!-- .site -->

    <script type="module" src="{{asset 'dist/main.js'}}"></script>

    {{> 'scripts/remove-cards-colors'}}

    {{ghost_foot}}

</body>

</html>
