{{!< default}}

{{#tag}}
<div class="site-heading" data-layout-grid="custom">
    {{#if feature_image}}
        <figure class="site-heading__figure">
            <img class="site-heading__image"
                width="96" height="96"
                src="{{img_url feature_image size='364' format='webp'}}"
                srcset="{{> 'helpers/image-srcset' format='webp'}}"
                sizes="{{~> 'helpers/image-sizes' image_sizes='site-heading'}}"
                loading="eager"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                onload="this.setAttribute('data-loaded', true)">
        </figure>
    {{/if}}
    <div class="site-heading__content">
        <h1 class="site-heading__title">{{name}}</h1>
        {{#if description}}
            <p class="site-heading__description">{{description}}</p>
        {{/if}}
    </div>
    <div class="site-heading__info">
        {{plural ../pagination.total empty=(t '<span>0</span> Articles') singular=(t '<span>%</span> Article') plural=(t '<span>%</span> Articles')}}
    </div>
</div>
{{/tag}}

<div class="site-content section">
    <div class="posts-feed" data-layout-grid="columns">
        {{#foreach posts}}
            {{> 'post-card' image_sizes='posts-feed'}}
        {{/foreach}}
    </div>
    {{pagination}}
</div>
